{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions and not IE 11"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "transform-runtime",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ],
  "parserOpts": {
    "plugins": [
      "dynamicImport"
    ]
  }
}